
<%= form_tag('/session', method: :post) do %>

  <div class="form-group">
    <%= label_tag(:name, "User name:") %>
    <%= text_field_tag(:name) %>

  </div>

  <div class="form-group">
    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %>

  <div class="actions">
    <%= submit_tag("Sign In") %>
  </div>

<% end %>
