<%= form_for(@sith) do |f| %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :power, "Power of the Dark Side (scale 1-10)" %><br>
    <%= f.number_field :power, class: "form-control" %></div>

  <div class="form-group">
    <%= f.label :health, "Health of the Sith (scale 1-5)" %><br>
    <%= f.number_field :health, class: "form-control" %></div>


  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
