<h1>Listing Sith</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Power</strong></td>
      <td><strong>Health</strong></td>
    </tr>
    <% @siths.each do |sith| %>
      <tr>
        <td><%= sith.name %></td>
        <td><%= sith.power %></td>
        <td><%= link_to "Battle #{sith.name}", sith_path(sith) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @jedi %>
  <p>
    <%= link_to "Back to Jedi", jedi_path(@jedi), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Sith', new_sith_path %></p>
<% end %>
