
<%= form_tag('/jedi/show', method: :post) do %>

  <div class="form-group">
    <%= label_tag(:name, "Jedi name:") %>

    <%= collection_select(:jedi, :id, current_user.jedis.all, :id, :name, prompt: "Please select your Jedi name from this dropdown or create a new Jedi below") %>
  </div>

    <div class="actions">
      <%= submit_tag("Choose your Jedi") %>
    </div>
<% end %>

<%= render '/jedis/form' %>
