<p id="notice"><%= notice %></p>

<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<div class="center">

    <p><strong>Name:</strong> <%= @jedi.name %></p>
    <p><strong>Health:</strong> <%= @jedi.health %></p>
    <p><strong>Force Power:</strong>  <%= @jedi.force_power %></p>
    <p><%= link_to 'See Sith to battle', siths_path %></p>
  </div>
</div>
